---
language: node_js
node_js:
  - "6"
  - "7"

sudo: false
cache: yarn

env:
  - EMBER_TRY_SCENARIO=ember-release COVERAGE=true
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

before_script:
  - yarn global add codecov phantomjs-prebuilt
  - phantomjs --version
  - yarn upgrade joda-project/joda-core

script:
  # Usually, it's ok to finish the test scenario without reverting
  #  to the addon's original dependency state, skipping "cleanup".
  - node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO test --skip-cleanup

after_success:
  - codecov -f coverage/lcov.info
