{{#section-content-list title="Miscellaneous documents"}}
  {{#filter-sidebar search=search sortTypes=sortTypes sortSelected=sortSelected reset=(action "resetFilters")}}
    <div class="panel-block">
      <p class="control has-icons-left">
        {{#single-select options=model.types selected=typeItem placeholder="Type" searchField="name" onchange=(action (mut typeItem)) as |type| }}
          {{type.name}}
        {{/single-select}}
        <span class="icon is-left">{{fa-icon "file-o"}}</span>
      </p>
    </div>
    {{filter-tags-block model=model.tags selected=tagsList}}
  {{/filter-sidebar}}

  <div class="column">
    {{outlet}}
  </div>
{{/section-content-list}}
