<section class="section">
  <div class="container">
    <h3>{{model.title}}</h3>

    <p class="control">
      {{#link-to 'misc.edit' model class="button is-primary" activeClass="" }}
        {{t 'common.edit'}}
      {{/link-to}}
      {{#link-to 'misc.index' class="button is-link" activeClass="" }}
        {{t 'misc.back-to-all'}}
      {{/link-to}}
    </p>
  </div>
</section>
